.nx-daemon/
node_modules/
.vscode/
.idea/
dist/
tmp/
apps/api/.env
apps/mcp-server/.env
.env
.cache/

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
dockerfile/local

vite.config.*.timestamp*
vitest.config.*.timestamp*


storybook-static
.DS_Store
dockerfile/prod/secrets

.docusaurus/


tsconfig.base.effective.json
