# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/.packmind
/docs
**/.react-router/
**/build/
.packmind
.github
.junie
.cursor
CLAUDE.md
AGENTS.md
**/AGENTS.md
.docusaurus
dockerfile/helm-chart/**
