:root {
  --Palette-Neutral-Beige0: #ffffffff;
  --Palette-Neutral-Beige50: #f7f5f2ff;
  --Palette-Neutral-Beige100: #e9e3ddff;
  --Palette-Neutral-Beige200: #cfcac5ff;
  --Palette-Neutral-Beige300: #b6b1adff;
  --Palette-Neutral-Beige400: #9c9894ff;
  --Palette-Neutral-Beige500: #84807dff;
  --Palette-Neutral-Beige600: #6c6967ff;
  --Palette-Neutral-Beige700: #555352ff;
  --Palette-Neutral-Beige800: #3f3d3cff;
  --Palette-Neutral-Beige900: #2a2a29ff;
  --Palette-Neutral-Beige1000: #181818ff;
  --Palette-Brand-Blue0: #f3f4feff;
  --Palette-Brand-Blue100: #e1e3fdff;
  --Palette-Brand-Blue200: #c3c7fcff;
  --Palette-Brand-Blue300: #a6acfbff;
  --Palette-Brand-Blue400: #8d92e2ff;
  --Palette-Brand-Blue500: #777bbfff;
  --Palette-Brand-Blue600: #62659dff;
  --Palette-Brand-Blue700: #4e517cff;
  --Palette-Brand-Blue800: #393b5cff;
  --Palette-Brand-Blue900: #27283eff;
  --Palette-Brand-Blue1000: #161724ff;
  --Palette-Brand-Orange0: #fff2f0ff;
  --Palette-Brand-Orange100: #ffded7ff;
  --Palette-Brand-Orange200: #febbadff;
  --Palette-Brand-Orange300: #fe9680ff;
  --Palette-Brand-Orange400: #e87962ff;
  --Palette-Brand-Orange500: #c46652ff;
  --Palette-Brand-Orange600: #a15444ff;
  --Palette-Brand-Orange700: #804336ff;
  --Palette-Brand-Orange800: #5f3228ff;
  --Palette-Brand-Orange900: #40221bff;
  --Palette-Brand-Orange1000: #251310ff;
  --Palette-Semantic-Green0: #f1f6f0ff;
  --Palette-Semantic-Green100: #dde9d9ff;
  --Palette-Semantic-Green200: #bad2b1ff;
  --Palette-Semantic-Green300: #99bc8aff;
  --Palette-Semantic-Green400: #76a563ff;
  --Palette-Semantic-Green500: #648b54ff;
  --Palette-Semantic-Green600: #527245ff;
  --Palette-Semantic-Green700: #415b36ff;
  --Palette-Semantic-Green800: #304328ff;
  --Palette-Semantic-Green900: #212d1bff;
  --Palette-Semantic-Green1000: #121a0fff;
  --Palette-Semantic-Red0: #fff1f1ff;
  --Palette-Semantic-Red100: #ffddddff;
  --Palette-Semantic-Red200: #ffbabaff;
  --Palette-Semantic-Red300: #ff9393ff;
  --Palette-Semantic-Red400: #ff6666ff;
  --Palette-Semantic-Red500: #dd5151ff;
  --Palette-Semantic-Red600: #b64343ff;
  --Palette-Semantic-Red700: #913535ff;
  --Palette-Semantic-Red800: #6c2727ff;
  --Palette-Semantic-Red900: #4a1b1bff;
  --Palette-Semantic-Red1000: #2a0f0fff;
  --Palette-Semantic-Yellow0: #fcf6c5ff;
  --Palette-Semantic-Yellow100: #f6e86eff;
  --Palette-Semantic-Yellow200: #decd3eff;
  --Palette-Semantic-Yellow300: #c3b436ff;
  --Palette-Semantic-Yellow400: #a89a2fff;
  --Palette-Semantic-Yellow600: #947813ff;
  --Palette-Semantic-Yellow500: #8e8227ff;
  --Palette-Semantic-Yellow700: #5c551aff;
  --Palette-Semantic-Yellow800: #443e13ff;
  --Palette-Semantic-Yellow900: #2e2a0dff;
  --Palette-Semantic-Yellow1000: #1b1807ff;
  --Palette-Others-Purple0: #faf1fbff;
  --Palette-Others-Purple100: #f2def6ff;
  --Palette-Others-Purple200: #e6bdedff;
  --Palette-Others-Purple300: #d99ce5ff;
  --Palette-Others-Purple400: #cc79dcff;
  --Palette-Others-Purple500: #b261c1ff;
  --Palette-Others-Purple600: #92509fff;
  --Palette-Others-Purple700: #753f7fff;
  --Palette-Others-Purple800: #562f5dff;
  --Palette-Others-Purple900: #3a203fff;
  --Palette-Others-Purple1000: #221225ff;
}
